# Node modules
frontend/node_modules/
backend/node_modules/
backend/dist

# MongoDB data folder
backend/data/db/

# Logs
*.log
logs/
npm-debug.log*

# dotenv
*.env
**/*.env

# OS files
.DS_Store
Thumbs.db
